.login-button-container{
    padding: 2px;
    margin: 0px;
    justify-content: flex-end;
    background-color: rgb(247, 247, 247);
}
.btn-login{
    margin-right: 2rem;
}
.logo{
    margin: 1%
}
.brand:hover{
    opacity: .8;
}
.search-box{
    flex-grow: 1;
}
.navbar-container{
}